/* Tipografía y Configuración Básica */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1d;
    color: #f4f4f4;
}
body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    box-sizing: border-box;
}

section {
    width: 100%;
    display: block; 
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box;
}

.hero, .about-section, .skills-section, .contact-section {
    width: 100%; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center; 
}

.contact-content {
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-sizing: border-box;
}

.contact-item {
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content:space-evenly ;
    padding: 20px;
    background-color: #333;
    color: white;
}

header a:hover{
    color: #f7a62b;
}

.logo img {
    max-width: 100px;
    border-radius: 200px;
}

.nav-links ul {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}

/* Responsive Design */
@media (max-width: 768px) {
    .nav-links ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-links ul.active {
        display: flex;
        position: absolute;
        top: 130px;
        left: 0;
        background-color: #333;
        padding: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1000;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .menu-icon {
        display: flex;
        z-index: 1001;
    }
}

/* Menu Icon Animation */
.menu-icon.active span:nth-child(1) {
    transform: rotate(50deg) translate(10px, 10px);
}

.menu-icon.active span:nth-child(2) {
    opacity: 0;
}

.menu-icon.active span:nth-child(3) {
    transform: rotate(-52deg) translate(6px, -6px);
}

/* Hero Section */
.hero {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../storage/1111.jpg);
    background-size: cover;
    background-position: center;
    filter: brightness(0.3) contrast(120%) sepia(20%);
    z-index: -1;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
}

/* Sección de Sobre mí */
.about-section {
    padding: 100px 20px 150px;
    background-color: #222;
    text-align: center;
}

.about-section h2 {
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-text {
    max-width: 800px;
    margin-bottom: 40px;
}

.about-text p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 30px;
}

.about-images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.image-frame {
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.image-frame:hover {
    transform: scale(1.05);
}

.image-frame img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Misión y Visión */
.mission-vision {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.mission, .vision {
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
}

.mission h3, .vision h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.mission p, .vision p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* Habilidades Blandas */
.soft-skills {
    margin-top: 50px;
    background-color: #333;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.soft-skills h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.soft-skills ul {
    list-style: none;
    padding: 0;
}

.soft-skills ul li {
    font-size: 1.2rem;
    line-height: 1.8;
    margin: 10px 0;
}

/* Sección de Habilidades */
.skills-section {
    padding: 80px 20px;
    background-color: #222;
    color: #f4f4f4;
}

.skills-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-card {
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin: 10px;
    text-align: center;
    flex: 1 1 calc(25% - 40px); /* Ajusta el ancho para que las tarjetas se alineen bien */
}

.skill-card h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.skill-card p {
    margin: 0;
    font-size: 1.2rem;
}

/* Carrusel de Proyectos */
.projects-section {
    padding: 100px 20px 150px; 
    background-color: #333;
}

.projects-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    height: 600px;
}

.projects-container {
    display: flex;
    transition: transform 0.6s ease;
    height: 100%;
}

.project-card {
    min-width: 100%;
    box-sizing: border-box;
    padding: 30px;
    text-align: center;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    color: #f4f4f4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease, background-color 0.3s ease;
}
.imagen1{
    width: 70%;
    border-radius: 20px;
}
.imagen2{
    width: 20%;
    border-radius: 20px;
}

.imagen3{
    width: 40%;
    border-radius: 20px;
    filter: brightness(0.5);
}

.project-card h3 {
    margin: 10px 0;
}

.project-card p {
    margin: 0;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #f4f4f4;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.5rem;
    transform: translateY(-50%);
    transition: background-color 0.3s;
    z-index: 1100; 
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* Sección de Contacto */
.contact-section {
    padding: 80px 20px;
    background-color: #222;
    color: #f4f4f4;
}

.contact-section h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.contact-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info {
    max-width: 600px;
    margin-bottom: 40px;
}

.contact-item {
    margin-bottom: 20px;
}

.contact-item h3 {
    margin: 0;
    font-size: 1.2rem;
}

.contact-item p {
    margin: 5px 0;
}

.contact-item a {
    color: #f7b731;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

/* barra de desplazamiento :) */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #333;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #f7b731;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f7a62b;
}

/* footer */

footer{
    align-items: center;
    text-align: center;
}